<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tayloremailerfunction20250218182058.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fe5e249e-122e-4e0f-9226-590f18d6a9b2/resourceGroups/TaylorEmailNotifyAPI/providers/Microsoft.Web/sites/TaylorEmailerFunction20250218182058</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://tayloremailerfunction20250218182058.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>